[Desktop Entry]
Type=Application
Name=Fodder Reader
GenericName=Feed Reader
Comment=Lightweight RSS/Atom/JSON feed reader
Exec=fodderd --open-viewer
Icon=io.github.dipakmdhrm.Fodder
Terminal=false
Categories=Network;News;Feed;GTK;
Keywords=RSS;Atom;JSON;Feed;News;Reader;
StartupNotify=false
StartupWMClass=io.github.dipakmdhrm.Fodder
